#top-bar {
    height: 50px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.chat-page {
    width: 70vw;   /* 70% of viewport width */
    max-width: 800px;   /* optional max width */
    height: 90vh;  /* 90% of viewport height */
    overflow: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-container {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

.chat-container::-webkit-scrollbar {
    width: 5px;
}

.chat-container::-webkit-scrollbar-track {
    background: transparent;
}

.chat-container::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

.chat-message {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.timestamp {
    display: block;
    font-size: 0.8em;
    color: #888;
    text-align: right;
}

.chat-input {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 10px;
    background-color: #444;
}

.chat-input input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    border-radius: 5px 0 0 5px;
    border-right: none;
    margin-right: 0;
    margin-bottom: 0;
}

.chat-input button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    border-left: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.chat-input button:hover {
    background-color: #0056b3;
}

.chat-input button:active {
    background-color: #003d7a;
}
h2 {
    text-align: center;
}
