.show-page {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .show-page h2 {
    text-align: center;
    color: #ddd;
    margin-bottom: 20px;
  }
  
  .show-page table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .show-page table td {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #ddd
  }
  
  .show-page table tr:first-child td {
    font-weight: bold;
  }
  
  .show-page table tr td:first-child {
    width: 150px;
  }

  .add-user-container {
    background-color:rgba(0,0,0,0.1);
    padding: 5px;
    margin-top: 10px;

    -webkit-box-shadow: 0px 0px 50px -32px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px -32px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -32px rgba(0, 0, 0, 1);
  }

  .radio-label {
    display: block;
    margin-bottom: 5px;
  }

  .radio-input {
    margin-right: 5px;
  }

  .btn-container{
    display: flex;
  }

  .btn-add-users {
    align-items: center;
    margin: 5px;
    width: 100%;
  }

  .btn-finish {
    align-items: center;
    margin: 5px;
    width: 100%;
    background-color: red;
  }

  .add-task-container {
    background-color:rgba(0,0,0,0.1);
    padding: 15px;
    margin-top: 10px;

    -webkit-box-shadow: 0px 0px 50px -32px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px -32px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -32px rgba(0, 0, 0, 1);
  }

  .add-task-container input {
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box; /* New */
  }

  .add-task-container textarea {
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box; /* New */
}

.add-task-container input:focus,
.add-task-container textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.add-task-container button {
  font-size: 1rem;
}

.btn-task {
  all: unset;
}

.btn-task:hover {
  background-color:rgba(0,0,0,0.1);
  padding-left: 10px;
  padding-right: 10px;
}